:root {
  --crimson: #900f09;
  --d-grey: #232323;
}

body {
  font-family: sans-serif;
  font-size: 1.25vw;
  margin: 0px;
  padding: 0px;
}

h1 {
  display: block;
  position: relative;
  width: max-content;
  padding: 8px 32px;
  text-transform: uppercase;
  color: #232323;
  font-size: 1.25em;

  -webkit-user-select: none; /* Make text non-selectable Safari */
  -moz-user-select: none; /* Make text non-selectable Firefox */
  -ms-user-select: none; /* Make text non-selectable IE10+/Edge */
  user-select: none; /* Make text non-selectable Standard */
}

h1::before {
  position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;

    content: "";
    background-image: url(../src/brackets.png);
    background-size: cover;
}

h1::after {
  position: absolute;
      bottom: 0;
      right: 0;
      height: 30px;
      width: 30px;

      content: "";
      background-image: url(../src/brackets.png);
      background-size: cover;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}

p {
  margin: 0px;
  padding: 0px;
}

.p-tag {
  padding-top: 11px;
}

.main-body {
  width: 70%;
  padding: 40px 15%;
  margin: auto;
}

.content-L-main {
  padding: 0px;
  margin: 0px;
  float: left;
  width: 50%;
}

.content-R-main {
  display: inline-flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  width: 50%;
}

.contact-footer-text {
  padding: 11px 0px;
}

.contact-footer-link {
  color: #232323;
}

.contact-subtext {
  padding-top: 11px;
  padding-bottom: 30px;
}

.introduction {
  width: 70%;
  padding: 40px 15%;
  margin: auto;
  background-color: #EBECF0;
}

.contact-header {
  margin-bottom: 0px;
}

.tel {
  color: #232323;
}

.footer {
  width: 100%;
  background-color: #232323;
  text-align: center;
  padding: 60px 0px;
  color: white;
  font-family: "Poppins", sans-serif;

  -webkit-user-select: none; /* Make text non-selectable Safari */
  -moz-user-select: none; /* Make text non-selectable Firefox */
  -ms-user-select: none; /* Make text non-selectable IE10+/Edge */
  user-select: none; /* Make text non-selectable Standard */
}

body {
  height: 100%;
}

@media (max-width:1270px) {
  .content-L-main {
    display: block;
    width: 100%;
    margin: auto;
  }
  .content-R-main {
    display: block;
    margin:auto;
  }
  body {
    font-size: 4vmin;
  }
  h1 {
    font-size: 2em;
  }

}

.nav-bar-item:hover {
  background-color: #EBECF0;
}
